# Production API credentials
API_BASE_URL=https://your-platform.com
API_USERNAME=your_user_name
API_PASSWORD="your_secure_password"

# Эти переменные переопределяют значения по умолчанию

# Интервал опроса можно оставить 60 секунд (как в спецификации)
POLL_INTERVAL=60
# При желании можно включить логирование получаемых данных
LOG_FEATURES=true
# при запуске без отправки сигналов надо определить использование мок-сервера
USE_MOCK=true